* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    background-color: #762124;
}

.nav {
    background-color: lightblue;
    width: 700px;
}

.nav > ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    height: 120px;
    background-color: pink;
}